 /* start navigation */
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-wrapper ul.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper ul.nav-list li{
    margin-left: 30px;
    padding: 20px 0px;
    position: relative;
}
.nav-wrapper ul.nav-list li a{
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 1.1rem;
}
.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a{
   color: var(--primary);
   text-decoration: underline;
}


nav ul.dropdown-list{
    list-style-type: none;
    display: block;
    background: var(--smoke);
    padding: 6px 16px;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
}
nav ul.sub-dropdown-list li{
    list-style: none;
}

.nav-wrapper ul.dropdown-list li{
    margin-left: 0;
    padding: 5px 0;
}
.nav-wrapper ul.dropdown-list li a{
    color: var(--dark);
}

.nav-wrapper ul.nav-list li:hover .dropdown-list{
    opacity: 1;
    pointer-events: auto;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp{
    0%{
        opacity: 0;
        transform: translate(-50%) translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%) translateY(8px);
    }
}


/* end navigation */

/* start hero section */
section.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.hero img{
    width: 500px;
    height: 400px;
    border-radius: 6px;
}

section.hero button.btn{
    outline: none;
     border-radius: 6px;
     background: var(--primary);
     padding: 5px 12px;
     border: none;
     cursor: pointer;
     letter-spacing: 1px;
}
section.hero button.btn:hover{
    background-color: blueviolet;
    transition: all 0.5s ease-in-out;
}
section.hero button.btn a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
/* end hero section */

.formsRl{
    background-color: var(--smoke);
    display: flex;
    justify-content: center;
    align-items: center;
}
